<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccms.mapper.EcPageTempletePropertyMapper">
  <resultMap id="BaseResultMap" type="com.ccms.entity.EcPageTempleteProperty">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="templete_id" jdbcType="BIGINT" property="templeteId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>

  <sql id="Base_Column_List">
    id,templete_id,name,value,create_date,update_date
  </sql>


  <select id="selelctEnablePageTempletePropertyList" resultMap="BaseResultMap">
    select p.*
    from ec_page_templete_property p
    left join ec_page_templete t on p.templete_id = t.id
    where t.enable = 1
  </select>
</mapper>